.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.white .calc {
    background: #fdfdfd;
    color: #000;
}

.black .calc {
    background: #000;
    color: #fdfdfd
}

.calc-screen {
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}

.calc-screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine myltiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.white .btn {
    background: #a6a6a6;
}

.black .btn {
    background: #333;
}

.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.white .btn.bg-grey {
    background: #525151;
    color: #fdfdfd;
}

.black .btn.bg-grey {
    background: #727272;
    color: #000;
}

.btn.bg-orange {
    background: #ff9501;
}